<div class="container-fluid">
	<div class="row">
	   <div class="col-xs-12 alignCenter ">
	         <h3>Company List</h3>
	   </div>
   </div>
   <div class="row">
	   	<div class="col-xs-12 ">
				<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
		</div>
   </div> 
   <div class="row">
	   <div class="col-xs-12">
	      <div class="col-xs-6">
	         showing
	         <select ng-model='selected.rowLimit' required ng-options=' option for option in rowLimitOptionArray'></select>
	         entries	
	      </div>
	      <div class="col-xs-6 rightAlign">
	         <div class="col-xs-3 paddingClass" >Search :</div>
	         <div class="col-xs-9"> <input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
	         </div>
	      </div>
	   </div>
   </div>
   <br>
   <table >
      <thead>
         <tr>
            <th ng-click="sortData('name')">Company Full Name<div ng-class="getSortClass('name')"></div></th>
            <th ng-click="sortData('abbrName')">Company Abbreviated Name<div ng-class="getSortClass('abbrName')"></div></th>
            <th ng-click="sortData('scripCode')">Scrip Code<div ng-class="getSortClass('scripCode')"></div></th>
            <th ng-click="sortData('scripId')">Scrip Id<div ng-class="getSortClass('scripId')"></div></th>
            <th ng-click="sortData('grams')">Company Gram(s)<div ng-class="getSortClass('grams')"></div></th>
            <th ng-show="permissions">Edit Gram(s)</th>
         </tr>
      </thead>
      <tr dir-paginate="companyList in list = ( companyLists |filter: searchText| orderBy:sortColumn:reverseSort  |itemsPerPage:selected.rowLimit )">
         <td>{{companyList.name}}</td>
         <td>{{companyList.abbrName}}</td>
         <td>{{companyList.scripCode}}</td>
         <td>{{companyList.scripId}}</td>
         <td>{{companyList.grams}}</td>
         <td ng-hide="companyList.isEdit || !permissions"> <!-- ||companyList.requested == true -->
	         <button ng-show="!companyList.requested" class="btn btnModified material-icons" ng-click="editGram(companyList,companyList.companyGram)" >mode_edit</button>
	   		 <label ng-show="companyList.requested">Pending for approval</label>
	     </td>
	     <td ng-show="companyList.isEdit" > 
	         <input ng-model="companyList.companyGram"/>
	         <button class="btn btn-success btnModified" ng-disabled="!companyList.companyGram||companyList.companyGram==companyList.grams+',' || companyList.companyGram==companyList.grams" ng-click="doneEditing(companyList)"><b>Save<b></b></button>&nbsp;
	         <button type="button"  class="btn btn-danger btnModified" ng-click="cancel(companyList)" class="close" data-dismiss="modal"><b>Cancel<b></b></button>
         </td>
      <!--<td><button style="font-size:20px" ><i class="material-icons">mode_edit</i></button></td>-->
      </tr>
      <tr><td colspan='6' ng-if=" list.length === 0">No Records Found</td></tr>
   </table>
      <br>
   Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
  	<div class="row">
	   <div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
	       <div class="col-xs-8 rightAlign">
	        <dir-pagination-controls
				max-size="10"
				direction-links="true"
				boundary-links="true" >
			</dir-pagination-controls>	 
	      </div>
	   </div>
   </div>
   <br>
</div>