<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
	<div class="col-xs-12">
		<div class="col-xs-3">
			<img src="images/bselogo.png" alt="bse logo">
		</div>
		<div class="col-xs-6 alignCenter">
			<h1 class="headingBse"><b>Social Media Analytics</b></h1>
		</div>
		<div class="col-xs-3 rightAlign" style="padding-right: 15px">
		<br>
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
							<div class="navbar-login">
								<div class="row">
									<div class="col-lg-4">
										<p class="text-center">
											<span class="fa fa-user fa-5x icon-size"></span>
										</p>
									</div>
									<div class="col-lg-8">
										<p class="text-right capitalize2">
											<strong>{{userName}}</strong>
										</p>
										<!--  email <p class="text-left small">correoElectronico@email.com</p>-->
										<p class="text-right">
											<a ui-sref="changePassword" style="display: block;">Change Password</a>
										</p>
										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="parentRequest" style="display: block;">Requests</a>
										</p>
										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;">Audit Log</a>
										</p>
										<button type="submit"
											class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
									</div>
								</div>
							</div>
						</li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
	</div>
	<div class="panel panel-default">
                <div class="col-xs-12">
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='home'}"><a ui-sref="homeParent.home" style="display: block">Home </a></div>
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='company'}">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" >Company</div>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="homeParent.company" >Company (English)</a></li>
                                <li><a ui-sref="homeParent.company_hindi">Company (Hindi)</a></li>
                            </ul>
                        </div>                    
                    </div>
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='web'}">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" >Web Article </div>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="homeParent.webSource" >Source (English)</a></li>
                                <li><a ui-sref="homeParent.webKeyword">keywords (English)   </a></li>
                                <li><a ui-sref="homeParent.webSource_hindi" >Source (Hindi)  </a></li>
                                <li><a ui-sref="homeParent.webKeyword_hindi">Keywords (Hindi)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='twitter'}">
                        <div class="dropdown">

                            <div class="dropdown-toggle" data-toggle="dropdown" >Twitter </div>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="homeParent.twitterSource" >Source </a></li>
                                <li><a ui-sref="homeParent.twitterKeyword">Keywords </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='facebook'}">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" >Facebook </div>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="homeParent.facebookSource">Source </a></li>
                                <li><a ui-sref="homeParent.facebookKeyword">Keywords </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 menuItems" ng-class="{'active':menu.current=='videototext'}"><a ui-sref="homeParent.videoToText" style="display: block">Video To Text </a></div>
                </div>
                <br><toasty></toasty>
                <div ui-view ></div>
            </div>