	<div class="container-fluid">
	<div class="row">
     <div class="col-xs-12">
     	<div class="row">
			<div class="col-xs-12 ">
				<div class="col-xs-4"></div>
					<div class="col-xs-3 alignCenter">
						<h3>Rejected Request</h3> 
					</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<div class="row">
		   	<div class="col-xs-12 ">
					<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
			</div>
   		</div>
		<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				showing 
				<select ng-model='selected.rowLimit' ng-options=' option for option in rowLimitOptionArray' required></select>
				entries
			</div>
			<div class="col-xs-6 rightAlign">
				<div class="col-xs-3 paddingClass">Search :</div>
				<div class="col-xs-9">
					<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
				</div>
			</div>
		</div>
	</div>
	<br>
		<table>
		<thead>
			<tr>
				<!-- <th><input type="checkbox" ng-model="selectAllRequest" ng-click="checkAllRequest()" /></th> -->
				<th  ng-click="sortData('id')">Request Id <div ng-class="getSortClass('id')"></div></th>
				<th  ng-click="sortData('requestedBy')">Requested By <div ng-class="getSortClass('requestedBy')"></div></th>
				<th  ng-click="sortData('requestedOperation')">Requested Operation <div ng-class="getSortClass('requestedOperation')"></div></th>
				<th  ng-click="sortData('existingValue')">Existing Value <div ng-class="getSortClass('existingValue')"></div></th>
				<th  ng-click="sortData('requestedValue')">Requested Value <div ng-class="getSortClass('requestedValue')"></div></th>
				<th  ng-click="sortData('requestType.requestMedia')">Media Type <div ng-class="getSortClass('requestType.requestMedia')"></div></th>
				<th  ng-click="sortData('requestType.requestType')">Category <div ng-class="getSortClass('requestType.requestType')"></div></th>
				<th ng-click="sortData('comment')">Rejectors Comment <div ng-class="getSortClass('comment')"></div></th> 
				<th ng-click="sortData('actionedBy')">Rejected by <div ng-class="getSortClass('actionedBy')"></div></th> 
			</tr>
		</thead>
		<tr dir-paginate="request in list = ( allRequestList |filter: searchText | orderBy:sortColumn:reverseSort | itemsPerPage:selected.rowLimit   )">
			<!-- <td><input type="checkbox" ng-model="request.select" ng-click="requestSetting(request.select)"></td> -->
			<td>{{request.id}}</td>
			<td>{{request.requestedBy}}</td>
			<td>{{request.requestedOperation}}</td>
			<td ng-show="request.requestedOperation == 'ADD'">{{request.addexistingValue}}</td>
			<td ng-show="request.requestedOperation != 'ADD'">{{request.existingValue}}</td>
			<td ng-show="(request.requestType.requestMedia == 'all_english' && request.requestType.requestMedia != 'all_hindi') || (request.requestType.requestMedia == 'all_hindi' && request.requestType.requestMedia != 'all_english')">{{request.companyrequestedValue}}</td>
			<td ng-show="request.requestType.requestMedia != 'all_english' && request.requestType.requestMedia != 'all_hindi' ">{{request.requestedValue}}</td>			
			<td>{{request.requestType.requestMedia}}</td>
			<td>{{request.requestType.requestType}}</td>
			<td>{{request.comment}}</td> 
			<td>{{request.actionedBy}}</td> 		
		</tr>
		<tr><td colspan='9' ng-if=" list.length === 0">No Records Found</td></tr>
	</table>
	<br>
	Export <button class="btn btn-info" ng-click="export()">excel</button>
   <!--button class="btn btn-info" ng-click="exportpdf()">pdf</button-->
<!--    &nbsp &nbsp &nbsp
   <button class="btn btn-info" ng-click="">Accept Requests</button>
   <button class="btn btn-danger" ng-click="">Reject Requests</button> -->
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	<br>		
	</div> <!-- .col-12 --> 
	</div> <!--  Row -->
    </div> <!-- container fluid -->
