<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 ">
			<div class="col-xs-3">
		      		<br>
					Status &nbsp &nbsp 
					<input type="radio" ng-model="orderStatus" ng-click="orderByStatus('all')" value="all" >All &nbsp &nbsp
					<input type="radio" ng-model="orderStatus" ng-click="orderByStatus('active')" value="active">Active &nbsp &nbsp 
					<input type="radio" ng-model="orderStatus" ng-click="orderByStatus('inactive')" value="inactive">Inactive
			 </div>
			<div class="col-xs-6 alignCenter">
				<h3>Facebook Keyword List</h3>
			</div>
			<div class="col-xs-3 alignCenter paddingClass">
				<button ng-show="permissions" type="button" class="change"data-toggle="modal" data-target="#facebookKeywordModal" ng-click="reset();"data-backdrop="static">
					<span class="glyphicon glyphicon-plus"></span>
				</button> <p ng-show="permissions" class="alignCenter">Add Keyword</p>
				<div class="modal fade" id="facebookKeywordModal" role="dialog">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Add Keyword</h4>
							</div>
							<form name="form.modalForm" ng-submit="addingKeyword(facebookKeywordName,facebookKeywordType)" novalidate>
								<div class="modal-body">
									<div class="form-group"> 
										 <label class="control-label">Type</label> &nbsp
										<input type="radio" class="radio-inline" ng-model="facebookKeywordType" value="SELECTION" required> Selection  &nbsp 
										<input type="radio" class="radio-inline" ng-model="facebookKeywordType" value="REJECTION"> Rejection <br>
									</div>
									<div class="form-group"> 	
										 <label class="control-label">Keyword</label> &nbsp
										 <input type="text" class="control-label" name="facebookKeyword" ng-model="facebookKeywordName" required>
									</div>
									<div class="form-group">
										<div class="alert alert-danger">
											<input type="checkbox" class="control-label" name="confirmation" ng-model="confirmSubmit" required>
											<strong>Warning! </strong> Indicates, once source is added can't be modified or deleted.
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary pull-left" ng-disabled="form.modalForm.$invalid">Add</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	   	<div class="col-xs-12 ">
				<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
		</div>
   </div>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				showing <select ng-model='selected.rowLimit' required ng-options=' option for option in rowLimitOptionArray'></select>
				entries (
         <i class="fa fa-check-circle" style="color:green" aria-hidden="true"> </i> active
         <i class="fa fa-check-circle" style="color:red" aria-hidden="true"> </i> inactive
         )
			</div>
			<div class="col-xs-6 rightAlign">
				<div class="col-xs-3 paddingClass">Search :</div>
				<div class="col-xs-9">
					<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
				</div>
			</div>
		</div>
	</div>
	<br>
	<table>
		<thead>
			<tr>
				<th ng-click="sortData('keyword')">Keyword <div ng-class="getSortClass('keyword')"></div></th>
				<th ng-click="sortData('type')">Type <div ng-class="getSortClass('type')"></div></th>
				<th ng-click="sortData('requestedBy')">Created By <div ng-class="getSortClass('requestedBy')"></div></th>
				<th ng-click="sortData('approveDate')">Last Modified At <div ng-class="getSortClass('approveDate')"></div></th>
				<th ng-click="sortData('status')">Status <div ng-class="getSortClass('status')"></div></th>
				<th ng-show="permissions">Change Status</th>
			</tr>
		</thead>
		<tr
			dir-paginate="facebookKeyword in list = (facebookKeywordList |orderBy:sortColumn:reverseSort |filter: searchText |itemsPerPage:selected.rowLimit )" >
			<td>{{facebookKeyword.keyword}}</td>
			<td>{{facebookKeyword.type}}</td>
			<td>{{facebookKeyword.requestedBy}}</td>
			<td>{{facebookKeyword.approveDate}}</td>
			<td><i ng-if = "facebookKeyword.status" class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
         <i ng-if = "!facebookKeyword.status" class="fa fa-check-circle" style="color:red" aria-hidden="true"></i></td>
			<td ng-show="permissions">
			<button ng-if = "facebookKeyword.status && !facebookKeyword.requested" type="button" ng-disabled="facebookKeyword.disabled" class="btn btn-warning btnModified" ng-click="inactiveStatus( facebookKeyword )" style="width:50px">Deactivate</button>
			<button ng-if = "!facebookKeyword.status && !facebookKeyword.requested" type="button" class="btn btn-info btnModified" ng-disabled="facebookKeyword.disabled"  ng-click="activateStatus( facebookKeyword )" style="width:50px">Activate</button>
		    <label ng-if="facebookKeyword.requested">Pending for approval</label> 
			</td>
		</tr>
		<tr><td colspan='6' ng-if=" list.length === 0">No Records Found</td></tr>
	</table>   <br>
   Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	<br>
</div>